@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="detailProduct" class="container">
      <div id="titleDetail">
        <div id="title">Tiêu đề</div>
        <div id="ngayDang"><i> Ngày đăng: Hôm nay </i></div>
      </div>
      <div id="description">
        <div>
          <p style="margin-bottom:1rem"><b>NHÀ 6 TẦNG , MỚI XÂY KHÉP KÍN.</b></p>
          - Diện tích 16m2 - 21m2 - 29m2, phòng ở tầng 2, tầng 3.
          <p>
            - Phòng có điều hòa, nóng lạnh, sạch sẽ, ban công, cửa sổ phơi đồ,
            có chỗ để xe rộng free, có chỗ nấu ăn và đầy đủ tiện nghi (vòi hoa
            sen, chậu rửa mặt... )nét.
          </p>
          <p>- Điện nước có công tơ riêng.</p>
          <p>- Giá 1.400.000đ - 1,800,000đ - 2.500.000đ/ tháng.</p>
            <p>- Địa chỉ: Ngõ 231 Chùa Bộc.</p>
        </div>
        <div style="display: flex; margin-bottom: 1rem; margin-top:1rem;">
          <span id="price" style="flex: 1">
            Giá: <span class="highLight">1,4 triệu/tháng</span>
          </span>
          <span id="acreage" style="flex: 1">
            Diện tích: <span class="highLight">21 m2</span>
          </span>
        </div>
        <span class="mainDetail" id="address"
          >Địa chỉ:
          <span id="detailAddress"
            >231 Phố Chùa Bộc, Phường Khương Thượng, Quận Đống Đa, Hà Nội</span
          >
        </span>
        <div id="imageRoomBlock">
          <img class="imageDetail imageDetailActive"
            src="~/images/anhhalinh.jpg"
            alt=""
          />
            <img class="imageDetail"
                 src="~/images/halinh2.jpg"
                 alt="" />
        </div>
        <div id="imageRoomBlockSmall">
          <img class="imageDetailSmall imageDetailSmallActive"
            src="~/images/anhhalinh.jpg"
            alt=""
          />
          <img
            class="imageDetailSmall"
                 src="~/images/halinh2.jpg"
            alt=""
          />
        </div>
        <!-- <div class="id">Google Map</div> -->

        <button id="book_room">Đặt xem phòng</button>
        <div id="note">
          <h4>Lưu ý:</h4>
          <p>
            Nếu có thắc mắc/phản ánh thông tin phòng trọ, vui lòng liên hệ với
            đội ngũ hỗ trợ khách hàng của chúng tôi qua:
          </p>
          <p>- Đường dây nóng: 0987654321</p>
          <p>- Email: fakeEmail@gmail.com</p>
        </div>
        <div id="go_home" >
            <a href=""> <i>Quay về trang chính</i></a>
        </div>
      </div>
    </div>
    <script>
    const imgSmalls = document.querySelectorAll('.imageDetailSmall')
    const imgBigs = document.querySelectorAll('.imageDetail')
    console.log(imgBigs)
    imgSmalls.forEach((item,index) =>{
        item.onclick = function(){
            document.querySelector('.imageDetail.imageDetailActive').classList.remove('imageDetailActive')
            document.querySelector('.imageDetailSmall.imageDetailSmallActive').classList.remove('imageDetailSmallActive')
            imgBigs[index].classList.add('imageDetailActive')
            item.classList.add('imageDetailSmallActive')
        }
    })

    </script>