<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NganHangNhaTro_G20</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleHouseDetail.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleRegister.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NganHangNhaTro_G20.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CommonLayout.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProjectQuanLy.styles.css" asp-append-version="true" />*@


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

    @*jQuery*@
    <script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/phanquyen.js"></script>

    @*DataTables*@
    <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <script language="JavaScript" type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    @*jsTree*@
    <link href="~/css/jstree.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <script language="JavaScript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    @*Bootstrap modal*@
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    @*Assets Project*@
     <link href="~/css/indexAdmin.css" rel="stylesheet" />
    @*<link href="~/css/phanquyen.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/css/fontawesome-free-6.3.0-web/css/all.min.css"> 
</head>
<body>
    <header>
        <div id="headerLayout" class="container">
            <div id="logoBlock">
                <a href="#"><img id="logoWeb" src="~/images/Ngân hàng nhà trọ.png" alt=""></a>
            </div>
            <div id="statusLogin">
                <div id="unLoginedtatus">
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus" > <a id="login" class="" style="text-decoration:none" asp-area="" asp-controller="Access" asp-action="Login">Login</a></li>
                        <li class="buttonStatus" > <a id="register"class="" style="text-decoration:none" asp-area="" asp-controller="Access" asp-action="Register">Đăng Ký</a></li>
                    </ul>
                </div>
                <div id="loginedStatus">
                    <img src="~/images/anhhalinh.jpg" />
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus">Xin chào <b>Người dùng</b></li>
                        <li class="buttonStatus">Hồ sơ cá nhân</li>
                        <li class="buttonStatus">Thoát</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="fly"></div>
    <div id="loginFormContainer"></div>
    <div id="registerFormContainer"></div>

    <div id="footerLayout">
        <div class="container" id="footerBlock">
            <img id="imgBoCongThuong" src="./assets/bo-cong-thuong.png" alt="">
            <b>CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</b>
            <p>Địa chỉ: Số 96B phố Định Công, phường Định Công, quận Hoàng Mai, Hà Nội</p>
            <p>Điện thoại: 0987654321 | Email: fakeEmail@gmail.com</p>
            <p>
                ® Nhóm WNC.G20 giữ bản quyền website này. Việc sao chép một phần hoặc toàn bộ mà không được sử đồng ý
                bằng văn bản là vi phạm pháp luật.
            </p>
        </div>
    </div>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/register.js" asp-append-version="true"></script>
    @* <script>
        $(document).ready(function () {
            $("#login").click(function () {
                $.get("/Home/Login", function (data) {
                    $("#loginFormContainer").html(data);
                    $(".fly").show();
                    $(".login-form").show();
                });
                return false;
            });

            $("#register").click(function () {
                $.get("/Home/Register", function (data) {
                    $("#registerFormContainer").html(data);
                    $(".fly").show();
                    $(".register-form").show();
                });
                return false;
            });

            $("#close-login").click(function () {
                $(".fly").hide();
                $(".login-form").hide();
            });

            $("#close-register").click(function () {
                $(".fly").hide();
                $(".register-form").hide();
            });
        });
    </script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
