<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NganHangNhaTro_G20</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NganHangNhaTro_G20.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CommonLayout.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div id="headerLayout" class="container">
            <div id="logoBlock">
                <a href="#"><img id="logoWeb" src="~/images/Ngân hàng nhà trọ.png" alt=""></a>
            </div>
            <div id="statusLogin">
                <div id="unLoginedtatus">
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus" id="login">Đăng nhập</li>
                        <li class="buttonStatus" id="register">Đăng ký</li>
                    </ul>
                </div>
                <div id="loginedStatus">
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus">Xin chào <b>Người dùng</b></li>
                        <li class="buttonStatus">Hồ sơ cá nhân</li>
                        <li class="buttonStatus">Thoát</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div id="footerLayout">
        <div class="container" id="footerBlock">
            <img id="imgBoCongThuong" src="./assets/bo-cong-thuong.png" alt="">
            <b>CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</b>
            <p>Địa chỉ: Số 96B phố Định Công, phường Định Công, quận Hoàng Mai, Hà Nội</p>
            <p>Điện thoại: 0987654321 | Email: fakeEmail@gmail.com</p>
            <p>
                ® Nhóm WNC.G20 giữ bản quyền website này. Việc sao chép một phần hoặc toàn bộ mà không được sử đồng ý
                bằng văn bản là vi phạm pháp luật.
            </p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/portal.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
