<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NganHangNhaTro_G20</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleIndex.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleLogin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styleRegister.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NganHangNhaTro_G20.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/CommonLayout.css" asp-append-version="true" />
   

</head>
<body>
    <header>
        <div id="headerLayout" class="container">
            <div id="logoBlock">
                <a href="#"><img id="logoWeb" src="~/images/Ngân hàng nhà trọ.png" alt=""></a>
            </div>
            <div id="statusLogin">
                <div id="unLoginedtatus">
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus" id="login">Đăng nhập</li>
                        <li class="buttonStatus" id="register">Đăng ký</li>
                    </ul>
                </div>
                <div id="loginedStatus">
                    <ul class="statusLogin_ul">
                        <li class="buttonStatus">Xin chào <b>Người dùng</b></li>
                        <li class="buttonStatus">Hồ sơ cá nhân</li>
                        <li class="buttonStatus">Thoát</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="fly"></div>
    <div id="login-form" class="login-form" method="post" onsubmit="">
        <form>
            <div class="loading"></div>
            <div class="title">Đăng nhập</div>
            <div class="input-form-login">
                <div class="row message"></div>
                <div class="row">
                    <div class="col1">Tên truy cập</div>
                    <div class="col2">
                        <input id="account" type="text" maxlength="50" required />
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="col1">Mật khẩu</div>
                    <div class="col2">
                        <input id="password" type="password" maxlength="50" required />
                        <input id="remember" type="checkbox" /> Duy trì đăng nhập
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row">
                    <div class="col1"></div>
                    <div class="col2">
                        <span style="color: red" class="show-recover-form">Quên mật khẩu ?</span>
                        <span class="show-register-form">Đăng ký</span>
                    </div>
                    <div class="clear"></div>
                </div>
                <div style="margin-top: 20px" class="row">
                    <div class="col2 row button-login">
                            <button class="login">Đăng nhập</button>
                        <span class="close" id="close-login">Thoát</span>
                    </div>
                </div>
            </div>
        </form>
       
    </div>
    <div id="register-form" class="register-form"  method="post" onsubmit="return validateRegistrationForm()">
        <form>
            <div class="loading"></div>
            <div class="title">
                <span class="exit"></span>
                Đăng ký thành viên
            </div>
            <div class="notices">
                <ul>
                    <li>
                        Lưu ý: Giả mạo thông tin của cá nhân có thể bị phạt tới 30 triệu đồng.
                    </li>
                </ul>
            </div>
            <div class="input-form-register">
                <div class="row">
                    <div class="col1">Họ tên(<span class="note">*</span>)</div>
                    <div class="col2">
                        <input id="username" type="text" maxlength="50" required />
                    </div>
                </div>
                <div class="suggesstion">
                    <p class="error_name">Tên lớn hơn 14 kí tự !!!</p>
                </div>
                <div class="row">
                    <div class="col1">Mật khẩu(<span class="note">*</span>)</div>
                    <div class="col2">
                        <input id="password-one" type="password" required />
                    </div>
                </div> 
                <div class="suggesstion">
                    <p class="error_pass_one">Mật khẩu tối thiểu trên 8 kí tự !!!</p>
                </div>
                <div class="row">
                    <div class="col1">Nhập lại mật khẩu(<span class="note">*</span>)</div>
                    <div class="col2">
                        <input id="password-two" type="password" required />
                    </div>
                </div>
                <div class="suggesstion">
                    <p class="error_pass_two">Nhập lại mật khẩu ko trùng khớp !!!</p>
                </div>

                <div class="row">
                    <div class="col1">Di động (<span class="note">*</span>)</div>
                    <div class="col2">
                        <input id="phone" type="text" maxlength="10" required />
                    </div>
                </div>
                <div class="suggesstion">
                    <p class="error_phone">Số điện thoại ko đúng định dạng !!!</p>
                </div>

                <div class="row">
                    <div class="col1">
                        Email liên hệ(<span class="note">*</span>)<br />
                    </div>
                    <div class="col2">
                        <input  id="email" type="text" maxlength="50" required  />
                    </div>
                </div>
                <div class="suggesstion">
                    <p class="error_email">Email ko đúng định dạng !!!</p>

                </div>

                <div class="row">
                    <div class="col button-register">
                        <button type="submit" class="register">Đăng ký</button>
                        <span class="close" id="close-register">Thoát</span>
                    </div>
                </div>
                
            </div>
        </form>
        
    </div>
    <div id="footerLayout">
        <div class="container" id="footerBlock">
            <img id="imgBoCongThuong" src="./assets/bo-cong-thuong.png" alt="">
            <b>CÔNG TY CỔ PHẦN PROPERTYGURU VIỆT NAM</b>
            <p>Địa chỉ: Số 96B phố Định Công, phường Định Công, quận Hoàng Mai, Hà Nội</p>
            <p>Điện thoại: 0987654321 | Email: fakeEmail@gmail.com</p>
            <p>
                ® Nhóm WNC.G20 giữ bản quyền website này. Việc sao chép một phần hoặc toàn bộ mà không được sử đồng ý
                bằng văn bản là vi phạm pháp luật.
            </p>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="~/js/register.js" asp-append-version="true"></script>
    <script>
        const login = document.querySelector('#login')
        const form_login = document.querySelector('.login-form')
        const close_login = document.querySelector('#close-login')
        const register = document.querySelector('#register')
        const form_register = document.querySelector('.register-form')
        const close_register = document.querySelector('#close-register')
        function action(action, close_action, form) {
            action.addEventListener('click', () => {
                form.style.display = 'block'
                document.querySelector('.fly').style.display = 'block'
            })
            close_action.addEventListener('click', () => {
                form.style.display = 'none'
                document.querySelector('.fly').style.display = 'none'
            })
        }
        action(login, close_login, form_login)
        action(register, close_register, form_register)


    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
